{% extends "base.html" %}
{% block title %}
Main Menu
{% endblock %}
{% block content %}
<div class="toplabel">Welcome back, {{username}}</div>
<br>
<div id="menu">
    <form action="/menu/choice" method="post">
        <input type="submit" name="choice" value="Create New Query">
        <input type="submit" name="choice" value="View Existing Queries"><br>
        <input type="submit" name="choice" value="Create New Scheduled Query">
        <input type="submit" name="choice" value="View Scheduled Query Results">
    </form>
</div>
{% endblock %}
